body {
    color: rgb(2, 3, 0);
    background: rgb(75, 213, 33);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(228, 194, 42);
    padding: 20px;
    font-size: 40px;
    color: rgb(0, 1, 1);
}

section {
    background: rgb(112, 4, 227);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}